:root{
    --primary-color: #095af1;
    --secondary-color: #f8f8f8;
    --accent-color: #000000;
    --text-color: #fdfdfd;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }

  .portfolio_modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    overflow: wrap ;
  }

  .portfolio_modal_content {
    background-color: #fff;
    color: black;
    margin: 10% auto;
    padding: 2rem;
    border-radius: 8px;
    width: 60%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

  .close-btn  {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }

  .katarina_modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }

  .katarina_modal_content {
    background-color: #fff;
    color: black;
    margin: 10% auto;
    padding: 2rem;
    border-radius: 8px;
    width: 60%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

  .close-btn-kat {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }

  .discord_modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }

  .discord_modal_content {
    background-color: #fff;
    color: black;
    margin: 10% auto;
    padding: 2rem;
    border-radius: 8px;
    width: 60%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

  .close-btn-discord {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .portfolio_modal_content,
    .katarina_modal_content,
    .discord_modal_content {
      width: 90%;
      padding: 1rem;
      margin: 70% auto;
    }

    
  }