:root{
    --primary-color: #095af1;
    --secondary-color: #f8f8f8;
    --accent-color: #000000;
    --text-color: #fdfdfd;
}

.projects{
    margin: 0;
    padding: 0;
    color: var(--text-color);
    height: 100vh;
    max-height: calc(100vh- 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: white solid 2px;
    gap: 50px;
}

.projects h1{
    color: var(--primary-color);
    position: relative; 
    top: 0;
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    background-color: transparent;
    background: none;
}
.card-flex{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 2rem;
}

.project-card{
    background-color: rgba(45, 68, 71, 0.4);
    color: var(--text-color);
    width: 20%;
    height: 30em;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}